 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


*{
    margin: 0;
    padding: 0;
}

.Hero {
    background-image: url(./background.jpg);
    background-size: cover;
    height: 90vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    filter: brightness(70%);
} 

.home-content {
    /* background-color: aqua; */
    max-width: 600px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    color: #42ff09;
    font-family: 'Playfair Display', serif;

}

.home-content h1 span {
    color: #ebf5ef;
    
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #44f585;
    font-family: 'Roboto', sans-serif;
}

.home-content p{
    font-size: 20px;
    color: rgb(50, 236, 189);
}